= form_tag users_path, :method => :post do
  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :password, 'Password'
  = password_field :user, :password

  = label :user, :password_confirmation, 'Password confirmation'
  = password_field :user, :password_confirmation

  = submit_tag 'Create new account'

