%h1 Admins

%table#admins
  %thead
    %tr
      %th Username
      %th Email
  %tbody
    - User.where(role: "admin").each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= link_to 'Show', user
        - if can? :update, user
          %td= link_to 'Edit', edit_user_path(user)

= link_to 'Back', :back
= link_to 'Games list', games_path