%h2= @user.username

%p
  %h3 Username
  %div= @user.username

%p
  %h3 Email
  %div= @user.email

= link_to 'HomePage', games_path
- if @user == current_user
  = link_to 'Edit', edit_user_registration_path
  %p= link_to 'Favorite games', favorite_games_path