= link_to 'Back to main menu', games_path
= link_to "Back to #{@game.title}", game_path(@game)
%h2 Edit #{@game.title}

= form_tag game_path(@game), :method => :put do

  = label :game, :title, 'Title'
  = text_field :game, :title

  = label :game, :info, 'Info'
  = text_area :game, :info

  = label :game, :category, 'Category'
  = select(:game, :category, options_for_select(Game::CATEGORIES, 'Other'))
   
  = submit_tag 'Commit updates'
%br
= link_to 'Delete game', game_path(@game), :method => :delete
