%h1 All Games

= form_tag games_path, :method => :get do
  = label :game, :alpha, 'Alphabetic sorting'
  = check_box_tag('sort[]', :alpha)
  = label :game, :time, 'Time sort'
  = check_box_tag('sort[]', :time)
  = label :game, :like, 'Like sort'
  = check_box_tag('sort[]', :like)
  = submit_tag 'search'

%table#games
  %thead
    %tr
      %th Game Title
      %th Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= link_to "More about #{game.title}", game_path(game)


= link_to 'Add new game', new_game_path
