%h1 All Games

= form_tag games_path, :method => :get do

  = label :game, :category, 'Search by category'
  = select(:game, :category, options_for_select(Game::CATEGORIES, @category))
  = submit_tag 'search'

= link_to 'Show all', games_path

%table#games
  %thead
    %tr
      %th Game Title
      %th Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= link_to "More about #{game.title}", game_path(game)


= link_to 'Add new game', new_game_path
