%h1 Game-on

= form_tag games_path, :method => :get do

  %table
    %td
      = label :game, :title, 'Search by name'
      = text_field :game, :title, :value => @title

    %td
      = label :game, :category, 'Search by category'
      = select(:game, :category, options_for_select(['Any'] + Game::CATEGORIES, @category))

    %td
      = label :game, :sorting_criterion, 'Sorting criterion'
      = select(:game, :sorting_criterion, options_for_select(['Any'] + Game::SORTING_CRITERIA.keys, @sorting_criteria))

    %td= submit_tag 'search'

    %td= link_to 'Show all', games_path

%table#games
  %thead
    %tr
      %th Game Title
      %th Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= link_to "More about #{game.title}", game_path(game)


= link_to 'Add new game', new_game_path
- if can? :read, Favorite
  = link_to 'Favorite games', favorite_games_path

%br
%br

%h2 Admins
%table#admins
  %thead
    %tr
      %th Username
      %th Email
  %tbody
    - User.where(role: "admin").each do |user|
      %tr
        %td= user.username
        %td= user.email
