%h1 All Games

= form_tag games_path, :method => :get do
  = label :game, :sort, 'Sorting criterion'
  = select(:game, :sort, options_for_select(['Any'] + Game::SORTING_CRITERIA, @sorting_criteria))
  = submit_tag 'search'

%table#games
  %thead
    %tr
      %th Game Title
      %th Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= link_to "More about #{game.title}", game_path(game)


= link_to 'Add new game', new_game_path
