%h2 Create a new game

= form_tag games_path, :method => :post , :multipart=>true do

    = label :game, :title, 'Title'
    = text_field :game, :title
    = label :game, :info, 'Info'
    = text_area :game, :info
    = label :game, :files, 'Attach build files (Not every file of the build is needed, select just the files in foo/Build/*)'
    = file_field :game, :files, multiple: true
   
    = submit_tag 'Submit game'

= link_to 'Games list', games_path
