%h2 Create a new game

= form_tag games_path, :method => :post , :multipart=>true, :onSubmit => "return setPattern()" do

    = label :game, :title, 'Title'
    = text_field :game, :title

    = label :game, :info, 'Info'
    = hidden_field_tag :tp
    = text_area :game, :info

    = label :game, :category, 'Category'
    = select(:game, :category, options_for_select(Game::CATEGORIES, 'Other'))

    = label :game, :version, 'Version (For reference and examples on semantic versioning, visit semver.org)'
    = text_field :game, :version

    = label :game, :files, 'Attach build files (Not every file of the build is needed, select just the files in foo/Build/*)'
    = file_field :game, :files, multiple: true
   
    = submit_tag 'Submit game'

= link_to 'Games list', games_path, class: "link"

:javascript
    var tdna = new TypingDNA();
    tdna.start();
    function setPattern() {
        var typedText = document.getElementById('game_info').value;
        var tp = tdna.getTypingPattern({type: 0, length: typedText.length});
        var isValid = true;
        
        if (!tp) {
        isvalid = false;
        } 
        if (typedText.length < 100) {
        isValid = false;
        }
        
        if (isValid) {
        document.getElementById('tp').value = tp;
        }
    }
