%h2 Details about #{@game.title}

- if @game.category != 'Other'
  %h4 Category: #{@game.category}

%h3 Description:

%p#description= @game.info

%div
  %vote.likes-count= @game.get_likes.size
  - if current_user && current_user.liked?(@game)
    %vote= link_to 'like', like_game_path(@game), method: :put, remote: true, class: 'like-btn liked'
  - else
    %vote= link_to 'like', like_game_path(@game), method: :put, remote: true, class: 'like-btn'
  
  %vote.dislikes-count= @game.get_dislikes.size
  - if current_user && current_user.disliked?(@game)
    %vote= link_to 'dislike', dislike_game_path(@game), method: :put, remote: true, class: 'dislike-btn disliked'
  - else
    %vote= link_to 'dislike', dislike_game_path(@game), method: :put, remote: true, class: 'dislike-btn'
  
  = link_to favorite_text, favorite_game_path(game_id: @game), id: 'favorite_link', remote: true, method: :patch

= link_to 'Games list', games_path

%div
  = link_to 'Add a review', new_game_review_path(@game)
  = link_to 'View the reviews', game_review_path(@game)


%div
  - if @game.user == current_user
    = link_to 'Edit game', edit_game_path(@game)

- if user_signed_in?

  %table
    %thead
      %tr
        %th Invite a friend

    %tbody
      - for friendship in current_user.friendships
        %tr
          %td
            = h friendship.friend.username
            = link_to 'invite friend', new_invitefriend_path(:email=>friendship.friend.email,:user=>friendship.user.email,:game=>@game.title,:gameid=>@game.id)

  .gameplay{:id => "play_game"}
    = link_to 'Play', launch_game_path(@game), method: :patch, remote: true
  .webgl-content{:id => "webglCanvas", :style => "position: relative; width: 960px; height: 0px"}
    #unityContainer{:style => "width: 960px; height: 600px; background: #202020;"}
    .footer
      .webgl-logo
      .fullscreen{:id => "unity_fullscreen", :style => "visibility: hidden;", :onclick => "unityInstance.SetFullscreen(1)"}

  .canvas-placeholder{:style => "width: 0px; height: 650px; position: relative;"}
  %footer{:style => "width: 100%; height: 50px; position: absolute;"}

