%h2 Details about #{@game.title}
 
%h3{:id => "description"} Description:

%p#description= @game.info

= link_to 'Games list', games_path

- if @current_user != nil && @current_user.id == @game.user_id
  = link_to 'Edit game', edit_game_path(@game)

- if @current_user != nil
  .gameplay{:id => "play_game"}
    = link_to 'Play', launch_game_path(@game), method: :patch, remote: true
  .webgl-content{:id => "webglCanvas", :style => "position: relative; width: 960px; height: 0px"}
    #unityContainer{:style => "width: 960px; height: 600px; background: #202020;"}
    .footer
      .webgl-logo
      .fullscreen{:onclick => "unityInstance.SetFullscreen(1)"}

  %div{:style => "width: 0px; height: 640px; position: relative;"}
  %footer{:style => "width: 960px; height: 50px; position: absolute;"}
