%h2
  Edit #{resource_name.to_s.humanize}
= form_for(@user, as: resource_name, url: user_update_path(@user), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :email
    %br/
    - if can? :update, @user
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - else 
      = f.email_field :email, autofocus: true, autocomplete: "email", disabled: true
  .field
    = f.label :username
    %br/
    - if can? :update, @user
      = f.text_field :username, autocomplete: "username"
    - else
      = f.text_field :username, autocomplete: "username", disabled: true
  - if can? :update, @user
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    - if @user.provider.blank?
      .field
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            characters minimum
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password"
  - if can? :assign_role, @user
    .field
      = f.label :role
      %br/
      = f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize})
  .actions
    = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", user_destroy_path(@user), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", user_path(@user)
