%div
  = link_to "Back to #{@game.title}", game_path(@game)
  - if @reviews.blank?
    %h3 No reviews yet. Be the first to write one!
  - else
    - @reviews.each do |review|
      %p.nomicoloratiperpif= review.user.username
      %p= review.comments
      - if can? :destroy, review
        #{button_to "Cancel review", game_review_path(@game, review), data: { confirm: "Are you sure?" }, method: :delete}
    
